* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-1 {
    box-shadow: 8px 4px 10px #adaeb0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    box-shadow: 8px 4px 10px #adaeb0;
}

.margin {
    margin-right: 30px;
    text-decoration: none;
}

.img-1 {
    width: 100px !important;
}

li>a:hover {
    background-color: skyblue;
    padding: 10px 30px;
    color: white !important;
    border-radius: 30px;
}

.klop {

    padding: 40px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.col>img {
    width: 40% !important;
    border-radius: 10px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.footer {
    background-color: skyblue;
    width: 100%;
    padding: 50px;
    color: white;
}