    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .background-1{
        background-color: #37517E;
        width: 100%;
    }   
    .navbarcha > nav{
        background-color: #37517E !important;
    }
    .Hover:hover{
        color: #47B2E4 !important;
    }
    .jkdkjsdjk{
        margin-top: 100px;
    }
    .font-size{
        font-size: 50px;
    }
    .kjldgs{
        border: none;
        background-color: #37517E;
    }
    .hjgk{
        border: none;
    }
    .imsge{
        width: 100% !important;
    }
    .background-2{
        background-color: #F3F5FA;
        width: 100%;
    }
    .hjfglflg > img{
        width: 50%;
    }
    .ckhfkfjksf > img{
        width: 100%;
    }
    .baclground-3{
        background-color: #F3F5FA;
        width: 100%;
    }
    .xdh > img{
        width: 100%;
    }