*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #22214B;
    padding: 10%;
    text-align: center;
}
.row > .col{
    /* text-align: center; */
    border: 1px solid;
    color: white;
    border-radius: 20px;
    margin: 20px;
    width: 220px;
    background-color: #1B2B58;
    padding:1%;
}
.tex-center{
    text-align: center;
    color: white;

}
.row > .col > img{
    width: 100px;
    height: 10vh;
    border-radius: 100%;
}