.bg-color{
    background-color: #A7D8C5;
    width: 100%;
    padding: 400px;
}
.text-center{
    border-radius: 30px;
    border: 2px solid;
    width: 800px;
    padding: 60px;
    background-color: white;
    text-align: center;

}
.input-width > input{
    border-radius: 30px;
    width: 600px;
    font-size: 30px;
    padding: 20px;
}