.bacgjhda{
    background-color: #EBFEFF;
    width: 100%;
    height: 100vh;
}
.navbar{
    background-color: #EBFEFF !important;
}
.ckl{
    margin-top: 140px;
}
.ckl > div > img{
    
    /* margin-left: 20px; */
}
.kjklopd > img{
    width: 80%;
    margin-top: 200px;
   
}
.dasddjg{
    margin-top: 270px;
}
.kliopj > img{
    width: 60%; 
    margin-left: 50px;
}
.bacgjhdacv{
    background-color: #EBFEFF;
    width: 100%;
    height: 60vh;
}
.lop > img{
    width: 130px !important;
}
.bachgfaKJ{
    background-color: #EBFEFF;
    width: 100%;
    padding: 100px;
}